<h1>ここから投稿してね★</h1>
<% if @blog.errors.any? %>
 <%= @blog.errors.count %>件のエラーが発生しました
 <%= @blog.errors.full_messages.each do |message| %>
  <%= message %>
 <% end %>
<% end %>

<%= form_with model:@blog, url:'/blogs', local:true do |f| %>
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    <h4>本文</h4>
    <%= f.text_area :body %>
    <h4>画像</h4>
    <%= f.attachment_field :image %>
    <%= f.submit '投稿' %>
<% end %>